* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* header section */

.main-container {
  display: flex;
  height: 100vh;

  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  padding: 0px 150px 0px 140px;
}
.banner-img {
  width: 497px;
  height: 610px;
  margin-bottom: -20px;
}
.header-title {
  color: #272727;
  font-family: Lato;
  font-size: 60px;

  font-weight: 800;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  gap: 30px;
}
.btn {
  padding: 14px 34px;
  border-radius: 8px;
  background: #e55473;
  color: white;
  border: none;
  cursor: pointer;

  /* bonus section */
}
.feture-title {
  text-align: center;
}
.feture-t {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.feture-flower {
  margin-top: 110px;
}
.feture-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  align-items: center;
}
.img-1 {
  width: 294px;
  height: 370px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  
}
.img-2 {
  width: 294px;
  height: 370px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.img-3 {
  width: 294px;
  height: 370px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.imag-one {
  width: 250px;
  height: 350px;
}
.img-t1 {
  color: #272727;

  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  padding-top: 20px;
}
.bonus-section {
  display: flex;
  padding-left: 200px;
  gap: 15px;
}
.bns-title {
  display: flex;
  padding-left: 200px;
  gap: 170px;
  margin: 10px;
}

/* Hot deal banner style */

.hot-deal-main-section {
  display: flex;
  background-color: rgba(229, 84, 115, 0.05);
  margin-top: 80px;
  align-items: center;
  justify-content: space-around;
}
.hot-deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-off {
  color: #e55473;
}
.hot-deal-text {
  padding-left: 120px;
}

.btn2 {
  padding: 16px 34px;
  border-radius: 8px;
  background: #e55473;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
.hot-deal-btn {
  display: flex;
  justify-content: center;
}
.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.hot-deal-img {
  padding-right: 67px;
}
.hot-deal-img-edit {
  width: 310px;
  height: 400px;
}

/* instagram-section */

.Instagram-info {
  text-align: center;
}

.insta-text {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.Instagram-section {
  margin-top: 80px;
}
.instagram-all-pic {
  display: flex;
  gap: 8px;
  padding-left: 180px;
}
.insta-1 {
  width: 242px;
  height: 300px;
}

/* last-deal-section */

.last-deal-text {
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
.deal-text {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.deal-deascription {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.form {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.email {
  padding: 14px 150px;
  border-radius: 6px;
  border: none;
}

.position {
  background-image: url(Rectangle\ 9.png);
  background-repeat: no-repeat;
  width: 250;
  height: 370px;
  margin: 180px;
}
.last-deal-position {
  margin-left: 80px;
}

.footer-botom {
  text-align: center;
  background-color: #111010;
  width: 100%;
  height: 170px;
  padding-top: 40px;
}
.span {
  color: #e55473;
}
.footer-title {
  font-family: Lato;
  font-size: 28px;
  font-weight: 800;
  color: white;
}
.info {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-des {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.about-you{
  text-align: center;
  background-image: url(./flower-3175428_1280.jpg),linear-gradient(#302f2f00,#555756);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  width: 100%;
  height: 440px;
  padding-bottom: 70px;
  margin-bottom: 150px;
}
.about2{
  padding-top: 90px;
  color: rgb(18, 17, 17);
}
.about-dec{
  color: rgba(255, 255, 255, 0.9) ;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
 
}
.about-text{
  font-family: Lato;
  font-size: 34px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}